{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'app/crossword.css' %}">

<div id="crossword-container">
    <table id="crossword-grid"></table>
</div>
<div id="crossword-hints">
    <div id="crossword-hints">
        <div id="crossword-hints-across">
            <h3>Across</h3>
        </div>
        <div id="crossword-hints-down">
            <h3>Down</h3>
        </div>
    </div>
</div>
<script src="{% static 'app/crossword.js' %}"></script>
{% endblock %}