{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'app/hangman.css' %}">


    <h1>Hangman</h1>
    <p>Guess some letters!</p>
    <h2>Points: </h2>
    <h2 class="points">0</h2>
    <div class="interface-container">
        <svg height="240" width="180" class="person-container">
            <!-- Head -->
            <circle cx="140" cy="70" r="20" class="person-part" />
            <!-- Body -->
            <line x1="140" y1="90" x2="140" y2="150" class="person-part" />
            <!-- Arms -->
            <line x1="140" y1="120" x2="120" y2="100" class="person-part" />
            <line x1="140" y1="120" x2="160" y2="100" class="person-part" />
            <!-- Legs -->
            <line x1="140" y1="150" x2="120" y2="180" class="person-part" />
            <line x1="140" y1="150" x2="160" y2="180" class="person-part" />
            <!-- Frame -->
            <line x1="60" y1="20" x2="140" y2="20" />
            <line x1="140" y1="20" x2="140" y2="50" />
            <line x1="60" y1="20" x2="60" y2="230" />
            <line x1="20" y1="230" x2="100" y2="230" />
        </svg>

        <div class="incorrect-guesses-container">
            <div id="incorrect-guesses"></div>
        </div>
        <div class="word" id="word"></div>
        <div id="input">Click me to enter a letter</div>
    </div>

    <!-- Container for final message -->
    <div class="message-container" id="message-container">
        <div class="popup">
            <h2 id="final-message"></h2>
            <button id="play-button">Play Again</button>
        </div>
    </div>

    <!-- Notification -->
    <div class="notification-container" id="notification-container">
        <p>You have already entered this letter</p>
    </div>

    <script src="{% static 'app/hangman.js' %}"></script>  
{% endblock %}