{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'app/home.css' %}" />

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% else %}

<script src=" {% static 'app\conversation.js' %} "></script>
<body>
  <div class="text-center text-white border-bottom"> <h1 class="display-1 align-middle" >  Find your QuestMaster
  </h1></div>
  <br>
      <h5 class="card-title"> </h5>
      <div id="googleMap" style="height:50vh;transform-origin:top;transform:scale(0.95);">

      <script>
        // Generate google map
        var locations = '{{ locations|escapejs }}'
        locations = JSON.parse(locations)

        function myMap() {
          boundsNorth = 50.740400
          boundsSouth = 50.730000
          boundsEast = -3.524000
          boundsWest = -3.542700


          var mapProp = {
            // center it on forum
            center: new google.maps.LatLng(50.735344013066786,-3.533710030939591),
            restriction: {
              latLngBounds: {
                north: boundsNorth,
                south: boundsSouth,
                east: boundsEast,
                west: boundsWest,
              },
              strictBounds: false,
            },
            disableDefaultUI: true,
            zoom:17,
            minZoom: 17,
            maxZoom: 20,
            mapId: "27c6b9a1bc6d90d5"
          };
          var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

          // If click on map, clear dialogue screens!
          map.addListener("click", () => {
            emptyScene();
          });
          for (let i = 0; i < locations.length; i++) {
            building = locations[i].fields
            var iconMarker = {
              url: "/media/" + (building.icon),
              labelOrigin: new google.maps.Point(20,-10),
              scaledSize: new google.maps.Size(40, 40)
            }
            var labelMarker = {
              text: (building.name),
              color: "white",
              fontSize: "16px",
              fontFamily: "Courier New",
              className: "maplabel"
            }
            
            var positionMarker = {
              lat: Number(building.latitude),
              lng: Number(building.longitude)
            }
            var marker = new google.maps.Marker({position: positionMarker, label: labelMarker, icon: iconMarker, animation:google.maps.Animation.DROP});
            marker.setMap(map);
            google.maps.event.addListener(marker, 'click', function() {
              // unfortunately, this is the only way to reference the correct building
              // would rather pass the building object to the clickHandler, but it gets
              // overwritten by the loop
              clickHandler(i, map)
            });
          };
        };
        function clickHandler(i, map) {
          building = locations[i].fields

          buildingPos = {
              lat: Number(building.latitude),
              lng: Number(building.longitude)
            }
          map.panTo(buildingPos);
          // set icon of who is talking
          buildingSetter(building)
          updateIcon(building.icon)
          welcomeScene()
          // set dialogue
        }
        </script>



      <script
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=myMap"
      ></script>
      </div>

  <div id="talking">
    <div class="container-fluid">
        <div class="row g-2 form-group">
            <div class="col-3 col-lg-1 mx-auto" id ="icon" style="image-rendering: pixelated">
            </div>
            <div class="col" id="dialogue">
            </div>
        </div>
    </div>
  </div>
  <div class="bottom" style="text-align: center; ">
    <div id="buttons" class="btn-group mr-2 rounded-0" role="group" aria-label="First group">
    </div>
  </div>
  <br>

</body>

{% endif %}

{% endblock %}