{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}{% bootstrap_messages %}

<DOCTYPE! html>
<html lang="en">

{% load static %}
<base href="/">
<link rel="stylesheet" href="{% static 'app/index.css' %}">
    <body>
        <div class="text-center text-white border-bottom">        <h1 class="display-1 align-middle" >StreathamQuest</h1></div>
        <br>
        <div class = "container">
            <div class = "row">
            <div class = "col">
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'app/bakcground2.png'%}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'app/uni.jpeg'%}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'app/example64.png'%}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
            <div class="mb-4 mt-4 col">
                    <h2 class="header">
                        Welcome to Streatham Go!
                    </h2>
                    <p> 
                        This is a website where you can play a game which promotes sustainability and also allows you to explore the campus of the University of Exeter.
                        There will be a public leaderboard where you can battle your way up to the top by answering a quiz question at a randomised location, where this location will change every day.
                        The quicker you answer the question the more points you get! 
                        
                    </p>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'accounts:register' %}" class="btn btn-info" role="button">
                        SIGN UP NOW!
                    </a>
                    {% endif %}
            </div>
        </div>
        </div>
    </body>
</html>
{% endblock %}
