{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}{% bootstrap_messages %}

<DOCTYPE! html>
<html lang="en">

{% load static %}
<base href="/">
<link rel="stylesheet" href="{% static 'app/index.css' %}">
    <body>
        <div class="text-center align-middle text-white border-bottom">        <h1 class="display-1" >StreathamQuest</h1>
        </div>


        <div class="wrapper">
            <img
                class="mb-4 mt-4"
                src="{% static 'app/uni.jpeg'%}"
                alt=""
                width="750"
                height="350"
                />
            <div class="mb-4 mt-4">
                <h2 class="header">
                    Welcome to Streatham Go!
                </h2>
                <p> 
                    This is a website where you can play a game which promotes sustainability and also allows you to explore the campus of the University of Exeter.
                    There will be a public leaderboard where you can battle your way up to the top by answering a quiz question at a randomised location, where this location will change every day.
                    The quicker you answer the question the more points you get! 
                    
                </p>
                {% if not user.is_authenticated %}
                <a href="{% url 'accounts:register' %}" class="btn btn-info" role="button">
                    SIGN UP NOW!
                </a>
                {% endif %}
            </div>
        </div>
    </body>
</html>
{% endblock %}
