{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'app/login.css' %}">
<form method="POST" class="form-signin" action="{% url 'app:login' %}">
{% csrf_token %}
<center>
  <img
    class="mb-4"
    src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
    alt=""
    width="72"
    height="57"
  />
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    {% if register_success %}
    <div class="alert alert-success" role="alert">
        Account Successfuly Created. Please check your email for an activation link 
    </div>
    {% endif %}

    {% if logout %}
    <div class="alert alert-success" role="alert">
        Logged Out! Goodbye
    </div>
    {% endif %}

    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{error_message}}
    </div>
    {% endif %}

</center>

{{ form }}

<center>
    <input type="hidden" value="{{next}}" name="next"\>
  <button class="w-100 btn btn-lg btn-primary" type="submit">
    Sign in
  </button>
  <p class="mt-3 mb-3 text-muted">Don't have an account? <a href="{% url 'app:register' %}">Register</a> here</p>
</center>
</form>

{% endblock %}
