body{
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; 
    width: 100%;
  }

h1{
    font-size: 100px;
}

p{
    text-align: center;
}

.box{
    border: 3px solid #5AC599;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text{
    font-size: 18px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    padding-top: 20px;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    border: 6px solid #333; /* change the border size and color as desired */
    border-radius: 60%; /* create a circular shape */
    background-color: #f0f0f0;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }