img{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border: 3px solid #212529;
    border-radius: 50%;
}

h1{
    font-size: 45px;
    font-weight: 700;
    color: #212529;
}

.progress-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
}

.progress{
    flex: 1;
    height: 20px;
    background-color: #d1d3d6;
    padding: 3px;
    border-radius: 5px;
}
.progress-bar{
    border-radius: 5px;
    width: 75%;
}

.progress-bar-striped{
    background-color: #5AC599;
}

.progress-level-1,
.progress-level-2 {
  width: 50px;
  text-align: center;
  font-size: 25px;
  font-style: bold;
}

.progress-level-1 {
  margin-right: 3px;
}

.progress-level-2 {
  margin-left: 3px;
}