@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
h1{
  color: rgb(255, 223, 223);
}
.blink {
  text-decoration: blink;
  animation-name: blinker;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.colour {
  background-color: #f4f0d7;
}