img {
    float: right;
    border-style: solid;
    border-color: #362a1e;
    border-width: 3px;
}

.wrapper {
    padding-top: 120px;
    margin-right: 30px;
}

h2,
p,
a.btn {
    font-family: 'So Bad', sans-serif;
}

h1{
    color: rgb(249, 238, 202);
}

h2.header {
    color: rgb(238, 204, 160);
    font-size: 36px;
    padding-top: 30px;
}

p {
    color: white;
    font-size: 20px;
    padding-top: 20px;
}

a.btn {
    background-color: #958A6E;
    border-color: #958A6E;
    width: 250px;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 100px;
    cursor: pointer;
    top: 50%;
}

a.btn:hover {
    background-color: #958A6E;
    color: white;
    border-color: #212529;
}

@media all and (max-width: 500px) {
    .wrapper {
        padding-top: 0px;
        margin-right: 0px;
    }
    body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    h2.header {
        margin: 0 auto;
        font-size: 24px;
        padding-top: 10px;
    }
    img {
        position: center;
        float: none;
        width: 365px;
        height: 200px;
    }
    a.btn {
        margin-left: 60px;
    }
}