img {
    float: right;
    border-radius: 25px;
    border-style: solid;
    border-color: #212529;
    border-width: 3px;
}

.wrapper {
    padding-top: 120px;
    margin-right: 30px;
}

h2,
p,
a.btn {
    font-family: Luminari, fantasy;
}

h2.header {
    color: white;
    font-size: 36px;
    padding-top: 10px;
}

p {
    color: white;
    font-size: 18px;
    padding-top: 20px;
}

a.btn {
    width: 20rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: #958A6E;
    color: black;
    border: 1px solid #958A6E;
    border-radius: 20px;
    padding: 1rem 0;
    margin: 5px;
}

a.btn:hover {
    background-color: #958A6E;
    border-color: #212529;
    transition: transform 150ms;
    transform: scale(1.05);
}

@media all and (max-width: 500px) {
    .wrapper {
        padding-top: 0px;
        margin-right: 0px;
    }
    body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    h2.header {
        margin: 0 auto;
        font-size: 24px;
        padding-top: 10px;
    }
    img {
        position: center;
        float: none;
        width: 365px;
        height: 200px;
    }
    a.btn {
        margin-left: 60px;
    }
}