table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

thead {
    background-color: #5AC599;
    color: #fff;
}

th {
    padding: 10px;
    text-align: left;
}

th:nth-child(1),
td:nth-child(1) {
    width: 10%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 40%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 20%;
}

.currentUserRow {
    background-color: #5AC599;
}

.currentUserRow td {
    color: #fff !important;
}

@media only screen and (max-width: 767px) {
    p.lead {
        font-size: 1.5rem;
    }
    .container.my-5 {
        padding: 1rem;
    }
    .table-responsive {
        overflow-x: auto;
    }
    .table td,
    .table th {
        font-size: 0.8rem;
        padding: 2px;
    }
}