{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
<center>

    <script>
        window.onload = choosePic;
      
        var newPP = new Array(
            "{% static 'accounts/profpic/pp1.jpeg' %}", 
            "{% static 'accounts/profpic/pp2.jpeg' %}", 
            "{% static 'accounts/profpic/pp3.jpeg' %}",
            "{% static 'accounts/profpic/pp4.jpeg' %}",
            "{% static 'accounts/profpic/pp5.png' %}",
            "{% static 'accounts/profpic/pp6.jpeg' %}",);

        var previousIndex = -1; 
      
        function choosePic() {
          var randomNum = Math.floor(Math.random() * newPP.length);
          while (randomNum == previousIndex) { 
            randomNum = Math.floor(Math.random() * newPP.length);
            }
          previousIndex = randomNum; 
          document.getElementById("profile-pic").src = newPP[randomNum];
        }
      </script>

    <img
        class="mb-4"
        id="profile-pic"
        alt=""
        width="120"
        height="120"
    />

    <h1>
        {{user.username}}
    </h1>

    <div class="progress-container">
        <div class="progress-level-1">
            5
        </div> 
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" 
                role="progressbar" 
                aria-valuemin="0" 
                aria-valuemax="100">
            </div>
        </div>
        <div class="progress-level-2">
            6
        </div>
    </div>


</center>

<!-- <span>Logged in as: {{user.username}}</span><br />
<span>First Name: {{user.first_name}}</span><br />
<span>Last Name: {{user.last_name}}</span><br />
<span>Email: {{user.email}}</span> -->
{% endblock %}
